.header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--mantine-color-indigo-6);
  border: none;
}

.navbar {
  background-color: var(--mantine-color-dark-7);
  border: 0px !important;
  color: white;
  box-shadow: 5px 9px 15px -8px rgba(13, 13, 13, 0.63);
  -webkit-box-shadow: 5px 9px 15px -8px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 5px 9px 15px -8px rgba(0, 0, 0, 0.63);
}

.mainBody {
  background-color: var(--mantine-color-dark-6);
  color: white;
}

@media (max-width: 460px) {
  .mainBody {
    padding-top: 50px;
  }
}
